---
# Создание ClusterIssuer для Let's Encrypt (staging/prod выбирается флагом)
- name: Создать ClusterIssuer {{ cluster_issuer_name }}
  vars: { ansible_python_interpreter: "{{ ansible_py }}" }
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: "{{ cluster_issuer_name }}"
      spec:
        acme:
          email: "{{ email_address }}"
          server: "{{ acme_server }}"
          privateKeySecretRef:
            name: "{{ cluster_issuer_name }}-account-key"
          solvers:
            - http01:
                ingress:
                  class: nginx
